@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true

$accent: #9B9BCA
$blue-main: #696A86
$red-header: #402B2B
$black: #000000
$white-main: #fff

body
    font-size: 18px
    font-family: 'Poppins', sans-serif
    color: $blue-main

h1
    font-size: 58px
    font-weight: bold
    color: $blue-main
    font-family: 'PT Serif', serif

h2
    font-size: 48px
    color: $red-header
    font-family: 'PT Serif', serif

h3
    font-size: 26px
    font-weight: bold

h4
    font-size: 22px
    font-weight: bold

h5
    font-size: 20px
    font-weight: bold
    color: $white-main

/* FIRST SCREEN */

.main
    padding: 22px 0px
    background: url('../img/bgmain.png') no-repeat center top / 100% 100%


.nav

    &__name
        font-size: 22px
        margin: auto 0 auto 21px
        color: #505050

    &__link
        margin: auto 58px auto 0

    &__cta
        width: 234px
        height: 60px
        background: $accent
        border-radius: 10px
        font-size: 18px
        color: $white-main
        font-weight: bold
        margin: auto 0 auto 0

.offer
    padding: 241px 0px 112px 0px

    &__title
        max-width: 600px

    &__desc
        margin: 30px 0px

/* ADVANTAGES */

.services
    padding: 95px 0px 192px 0px

    &__item
        border-radius: 5px
        height: 250px
        width: 261px

        &:hover
            border-left: 1px solid grey
            border-right: 1px solid grey
            border-top: 1px solid grey
            border-bottom: 4px solid grey

    &__icon
        margin-top: 23px

    &__title
        margin-bottom: 12px

    &__block
        margin-bottom: 139px

    &__header
        margin: 21px 0px 12px 0px

    &__description
        font-size: 16px
        max-width: 220px
        margin: 0 auto

/* SUPPORT SCREEN */

.support
    padding-bottom: 107px
    &__text
        margin-top: 107px

    &__title
        margin-bottom: 16px

    &__desc
        font-size: 18px
        max-width: 450px

/* VIDEO SCREEN */

.video
    &__title
        margin-bottom: 80px

.iframe-container
    position: relative
    width: 100%
    padding-bottom: 35%
    height: 0

    & iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

/* features block */

.features
    padding: 54px 0px 0px 0px

    &__block
        margin-bottom: 162px

    &__title
        margin-bottom: 12px

    &__desc
        max-width: 660px
        margin: 0 auto

    &__item
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        max-width: 442px
        height: 545px
        border: px solid grey

    &__pic
        margin: 60px 0px 53px 0px

    &__text
        max-width: 350px
        margin: 22px auto 115px auto
        position: relative
        line-height: 30px

    &__cta
        position: absolute
        width: 234px
        height: 60px
        background: $accent
        border-radius: 10px
        font-size: 18px
        color: $white-main
        font-weight: bold
        top: 93%
        left: 22%
        transition: all 0.5s ease
        &:hover
            background: red


/* JOIN SECTION */

.join
    padding: 120px 0px 220px 0px
    &__title
        max-width: 550px
        padding-bottom: 95px
    &__wrapper
        width: 708px
        height: 566px
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1)

    &__cta
        width: 234px
        height: 60px
        background: $accent
        border-radius: 10px
        font-size: 18px
        color: $white-main
        font-weight: bold
        margin: auto 0 30px 0

    &__text
        font-size: 16px
        margin-bottom: 10px

    &__input
        background: #FFFFFF
        border: 1px solid #9595C9
        border-radius: 5px
        width: 400px
        height: 60px
        border-radius: 5px
        padding-left: 43px
        margin-bottom: 30px

        &:focus
            outline: 2px solid #9595C9!important
            box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2)
            border-radius: 5px

        &:active
            outline: 2px solid #9595C9!important
            box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2)
            border-radius: 5px

    &__sign
        font-size: 18px

        &-red
            color: red

/* FOOTER */

.footer
    padding: 80px 0 33px 0
    background: $accent
    color: $white-main

    &__item
        margin-bottom: 115px

    &__title
        margin-bottom: 20px

    &__link
        color: $white-main
        font-size: 16px
        margin-bottom: 10px


.creddits

    &__copyright
        font-size: 16px
        margin-top: 9px
    &__logo
        margin-right: 8px
        margin-left: 100px
    &__name
        margin: auto 0

    &__social-link
        width: 36px
        height: 36px
        border-radius: 50%
        background: $white-main
        cursor: pointer
        margin-right: 20px
        &:last-child
            margin-right: 0


